0
h1{
	color: #a86432;
}

body{
	background-color: #ade8f4;
}

p{
	color: #f77f00;
}

.greenPagraph{
	color: #00f;
}

table, td{
	border-style: dashed;
}
table{
	border-width: 4px;
	border-color: #00f;
	margin-left: auto;
	margin-right: auto;
}
td{
	
}
body{
	background-image: url();

}

img{ 
	border-radius: 25px;
 }

 img:hover{
 	opacity: 0.75;
 }

 ul{
 	list-style-type: none;
 	background-color: #f5b942;
 	overflow: hidden;
 }
 li a{
 	float: left;
 	display: block;
 	width: 100px;
 	text-align: center;
 	padding: 15px 15px;
 	text-decoration: none;
 }
 li a:hover{
 	background-color: #ff0000;
 }
.active{
	border-bottom: 2px solid #000000;
}